:root {
  --off-black: #28282a;
}

body {
  font-family: "Playfair Display", serif !important;
  color: var(--off-black) !important;
  overflow-x: hidden;

  /* text selection */
  /*-webkit-user-select: none;  Safari */
  /*-ms-user-select: none;  IE 10 and IE 11 */
  /*user-select: none;  Standard syntax */
}

a {
  text-decoration: none !important;
  color: var(--off-black) !important;
}

nav,
footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: end;
  left: 0;
  right: 0;
  font-size: 22px;
  z-index: 1000;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

nav > *,
footer > * {
  padding: 10px;
}

.inner-nav {
  display: flex;
  column-gap: 10px;
}

.btn-menu {
  font-size: 22px;
}

.modal-header {
  border: none !important;
}

.btn-close {
  font-size: 22px;
  background-image: none !important;
  width: auto !important;
  padding: 0 20px !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  line-height: 1.2;
}

.not-allowed {
  cursor: not-allowed;
}

.main-section {
  margin-top: 120px;
}

.hero-section {
  width: 100%;
}

.background {
  display: flex;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;

  svg {
    max-height: 90vh;
    max-width: 90vw;
  }
}

.hero-text {
  font-size: 72px;
  line-height: 1.2;
  text-align: center;
  margin: 60px 0;
}

.hero-text-mobile {
  display: none;
}

/* REVIEW TAGS */
.hero-text p {
  display: inline;
}

.stretch {
  /* change name */
  text-decoration: underline;
  display: inline-block;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}

.gif-container {
  /* change name */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stretch-gif {
  /* change name */
  height: 98vh;
}

#news-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  touch-action: none;
  position: relative;
}

.item {
  width: 350px;
  height: auto;
  border: 2px solid black;
  background-color: white;
  touch-action: none;
  user-select: none;
  position: absolute;
  font-size: 14px;
  padding: 20px;
}

.active {
  z-index: 100;
}

.item:hover {
  cursor: move;
}

.wave-svg {
  width: 320px;
  height: 400px;
}

.wave-path {
  stroke: #6167ff;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.sharp-star-container {
  /* change name */
  margin: 130px 7% 200px 0;
  text-align: right;
}

.breadcrumb > * {
  font-size: 12px;
}

/*test*/
.newsletter-form {
  display: flex;
  flex-direction: column;
}

#newsletter-label {
  text-align: right;
}
#email-field {
  display: none;
  outline: 0;
  border: none;
  border-bottom: 2px solid var(--off-black);
  background-color: transparent;

  /* disable input field */
  /* pointer-events:none; */
}
/*test*/

/* ABOUT */
.about-container {
  font-size: 72px;
  line-height: 1.3;
  margin: 60px 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 0;
}

.link {
  cursor: pointer;
  display: inline-block;
}

.animate__animated {
  animation: infinite;
}

/* ARTISTS */
.artists-container {
  margin-bottom: 60px;
}

.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  transition: max-height 0.2s ease-out;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.artist-id {
  font-size: 24px;
  margin: 0 20px;
}

.artist-name {
  font-size: 72px;
}

.artist-bio {
  margin-bottom: 60px;
  text-align: center;
  font-size: 48px;
}

.artist-store-btn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 100px;
}

.icon {
  margin-right: 20px;
  transition: transform 0.5s ease; /* Smooth transition for rotation or color */
}

.accordion-btn.active .icon {
  transform: rotate(
    180deg
  ); /* Rotate the icon when the accordion is expanded */
}

.accordion-btn.active {
  background-color: transparent;
}

.img-drag {
  cursor: move;
}

/* EVENTS */

.event-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  border-left: 2px black solid;
  padding: 0 20px;
}

.event-name {
  font-size: 72px;
  line-height: 1.2;
}

.event-date-location {
  display: flex;
  column-gap: 20px;
  font-size: 18px;
}

.event-ticket-link {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  img {
    position: absolute;
    left: -70%;
    top: -100%;
  }
}

.event-ticket-link:hover {
  transform: rotate(-20deg);
  color: #6167ff;
}

@media (max-width: 992px) {
  .modal-body {
    font-size: 56px;
  }

  .hero-text {
    font-size: 56px;
  }

  .est-bio {
    font-size: 56px;
  }

  .links {
    font-size: 56px;
  }

  .artist-id {
    display: none;
  }

  .artist-name {
    font-size: 56px;
  }

  .artist-bio {

    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 40px; /* check */
  }

  .modal-body {
    font-size: 40px;
  }

  .est-bio {
    font-size: 40px;
    line-height: 1.2;
  }

  .links {
    font-size: 40px;
  }

  .artist-name {
    font-size: 40px;
  }

  .artist-bio {
    font-size: 30px;
  }

  .event-name {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .modal-body {
    font-size: 40px;
  }

  .hero-section {
    margin-top: 0 !important;
  }

  .hero-text {
    /* check hero-text-mobile p */
    overflow-wrap: break-word;
    display: none;
  }

  .hero-text-mobile {
    display: block;
    text-align: center;

    h1 {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    p {
      font-size: 40px;
      line-height: 1.2;
      display: inline;
    }

    .stretch {
      text-decoration-thickness: 4px;
      text-underline-offset: 4px;
    }

    .homepage-stretch-link {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  #news-container {
    display: none;
  }

  .est-bio {
    font-size: 40px;
    line-height: 1.2;
  }

  .links {
    font-size: 40px;
  }

  .accordion-btn {
    padding: 6px 0;
  }

  .artist-name {
    font-size: 30px;
  }

  .draggable {
    display: none;
  }

  .artist-bio {
    font-size: 20px;
    text-align: left;
    margin: 30px 10px 40px;
  }

  .event-name {
    font-size: 20px;
    font-weight: bold;
  }

  .stretch-gif {
    width: 90vw;
    height: auto;
  }
}
